/mcsv-register/node_modules
/mcsv-register/.env
/mcsv-register/logs/register_log.txt
/mcsv-register/logs

/mcsv-login/node_modules
/mcsv-login/.env
/mcsv-login/logs/log.txt
/mcsv-login/logs

/mcsv-vpn/node_modules
/mcsv-vpn/.env

/mcsv-certificate/node_modules
/mcsv-certificate/.env
/mcsv-certificate/public/certificates


/mcsv-labs/node_modules
/mcsv-labs/.env


mcsv-register/logs/register_log.txt
/mcsv-register/logs/register_log.txt